fastapi
uvicorn[standard]
python-multipart
pydantic
pdfplumber
pytesseract
opencv-python-headless
Pillow
langdetect
sqlalchemy
asyncpg
psycopg[binary]
pgvector
python-dotenv
aiofiles
PyMuPDF
httpx

# LLM / Embedding stack
pandas
numpy
sentence-transformers
transformers
torch
llama-cpp-python==0.2.63
scikit-learn
tqdm

# Hugging Face client
huggingface-hub

# Auth & JWT
python-jose
bcrypt==4.0.1
passlib[bcrypt]==1.7.4

# Alembic for migrations
alembic
