fastapi
uvicorn[standard]
python-multipart
pydantic
pdfplumber
pytesseract
opencv-python-headless
Pillow
langdetect
sqlalchemy
asyncpg
psycopg[binary]
pgvector
python-dotenv
aiofiles

# LLM / Embedding stack
sentence-transformers
transformers
torch
llama-cpp-python==0.2.63
scikit-learn
tqdm

# Hugging Face client
huggingface-hub

# Auth & JWT
python-jose
passlib[bcrypt]

# Alembic for migrations
alembic
